 img{

    float : left;
    margin-right: 10px;
  }
  
  .img2
  {
  
  float: right;
  width: 80px;
  height: 60px;
  padding-right: 20px;
  }
  
  .login
  {
  float: right;
  padding: 15px;
  font-size: 20px;
  }
  
  .reg
  {
  float: right;
  padding: 15px;
  font-size: 20px;
  padding-right: 0;
  }
  .nav {
      background-color: BLACK;
      overflow: hidden;
      
    }
    .nav a {
      float: left;
      color: WHITE;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 19px;
    }
    .nav a:hover {
      background-color:PURPLE;
      color: black;
    }
    .nav a.active {
      background-color: GRAY;
      color:WHITE;
    }
    * {
      box-sizing: border-box;
    }
    
    .search{
      float: right;
      display: block;
      text-align:left;
     padding: 14px;
    }
    .search .input {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: right;
      width: 80%;
      background: #f1f1f1;
    }
    .search .button{
      float: right;
    
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    }

    /*whatsapp page styles*/
    /*.fa {
        padding: 40px;
        font-size: 400px;
        width: 5400px;
        height: 400px;
        text-align: center;
        text-decoration: none;
        margin: 5px 5px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }

      .fa-whatsapp {
        background: lightgreen;
        color: white;

      }*/

      /*.wapp
      {
        float: center;
        width: 80px;
        height: 60px;
        padding-right: 20px;
      }*/

      .QR{
        display: flex;
        margin-top: 25px;
        margin-left: 620px;
      }
      .center{
        display: flex;
        justify-content: center;
        margin-right: 200px;
      }
     .imgwht{
        margin-top: 15px;
     }
     .wh{
        margin-top: 25px;
     }

     /*footer*/
     *{
      padding:0;
      margin:0;
      font-family:"poppins" ,sans-serif;
      box-sizing:border-box;
  }
  
  body{
      background:#eef8ff;
  }
  
  footer{
      width:100%;
      position: relative;
      bottom:0;
      background:linear-gradient(to right,#00093c,#2d0b00);
      color:#fff;
      padding:80px 0 30px;
      font-size:13px;
      line-height:20px;
      margin-top: 3rem;
  
  }
  .row{
      width: 85%;
      margin:auto;
      display:flex;
      flex-wrap:wrap;
      align-items:flex-start;
      justify-content:space-between;
  }
  
  .col{
      flex-basis:25%;
      padding:10px;
  
  }
  .social-icons i{
      margin-top: 2rem;
      width:40px;
      height:40px;
      border-radius:50%;
      text-align:center;
      line-height: 40px;
      font-size:20px;
      color:#000;
      background: #fff;
      margin-right:15px;
      cursor:pointer;
  
  
  }
  
  #btn1{
  
      color: green;
      border: .3rem solid rgb(233, 203, 174);
      font-size: 1.5rem;
      padding: 7px 15px;
      border-radius: 2rem;
      cursor: pointer;
  
  }
  
  #btn1:hover{
   color: black;
   border:.3rem solid gold;
   padding: 10px 19px;
   transition: .2s all linear;
  }
  #p1{
  
      color: white;
      margin-top: 2rem;
  }
  
  #btn2{
  
      color: green;
      border: .3rem solid rgb(233, 203, 174);
      font-size: 1.5rem;
      padding: 7px 15px;
     border-radius: 2rem;
     cursor: pointer;
  }
  
  #btn2:hover{
      color: black;
      border:.3rem solid gold;
      padding: 10px 19px;
      transition: .2s all linear;
      
  }
  .social-icons i:hover{
  
      margin-left: 12px;
      width:50px;
      height:50px;
      border-radius:50%;
      text-align:center;
      line-height: 40px;
      font-size:35px;
      color:#000;
      background: rgb(129, 191, 236);
      margin-right:15px;
      transition:.2s all linear;
  }